.product {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  padding: 25px 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;

  img{
    width: 100%;
  }

  button {
    margin: 20px 0;
    cursor: pointer;
  }
}
